<ion-content class="background" [style.visibility]="content_visibility">
  <ion-cards class="ion-padding">
    <ion-card class="ion-text-center cardCenter">
      <div class="titleAnimado">
        <h1 class="titulo text1 ion-text-center" #animar2>
          <b
            >¡Bienvenido <span class="mayusculas">{{ user.usuario }}</span>!</b>
        </h1>
      </div>
      <ng-lottie
        [options]="options"
        (animationCreated)="created($event)"
      ></ng-lottie>
    </ion-card>

    <br>
    <br>
    <br>
    
    <div class="ion-text-center">
      <ion-row>
        <ion-col size="12">
          <button
            class="buttonLogin"
            (click)="startScan()"
            color="primary"
            shape="round">
            <ion-icon name="qr-code-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col size="12">
          <ion-card-subtitle class="textBnt">Registra tu Asistencia!</ion-card-subtitle>
          <ion-card-subtitle class="textBnt">Escanea el codigo QR desplegado por el Docente!</ion-card-subtitle>
          <ion-item *ngIf="scannedResult">
            <ion-label class="ion-text-wrap">Resultado: {{scannedResult}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    
  </ion-cards>
</ion-content>
