<ion-content class="background ion-padding" [style.visibility]="content_visibility">
  <ion-card class="ion-text-center cardCenter">
    <div class="titleAnimado">
      <h1 class="titulo text1 ion-text-center" #animar2>
        <b>¡Bienvenido <span class="mayusculas">{{ user.usuario }}</span>!</b>
      </h1>
    </div>
    <lottie-player src="../../../assets/animations/3.json" background="transparent" speed="1"
      style="width: 300px; height: 200px; margin-bottom: -20px; margin-left: 50px;" loop autoplay>
    </lottie-player>
  </ion-card>

  <div class="ion-text-center">
    <ion-row>
      <ion-col size="12">
        <button class="buttonQr" (click)="startScan()" color="primary" shape="round">
          <ion-icon name="qr-code-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col size="12">
        <ion-card-subtitle class="textBnt">Registra tu asistencia!</ion-card-subtitle>
        <ion-card-subtitle class="textBnt">Escanea el codigo QR desplegado por tu Docente!</ion-card-subtitle>
        <ion-item *ngIf="scannedResult">
          <ion-label class="ion-text-wrap">Resultado: {{scannedResult}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>