<ion-content class="fondo">
  <div>
    <img src="../../../assets/img/user.svg" width="180px" class="logoPerfil">     
  </div>  
  <ion-card>
    <ion-card-header *ngFor="let alumno of alumnos; let i=index">
      <ion-card-subtitle class="subt">Nombre Alumno:</ion-card-subtitle>
      <h2 class="title">{{alumno.name}}</h2>
      <ion-card-subtitle class="subt">Carrera:</ion-card-subtitle>
      <h2 class="title">{{alumno.carrera}}</h2>
      <ion-card-subtitle class="subt">Sede:</ion-card-subtitle>
      <h2 class="title">{{alumno.sede}}</h2>
    </ion-card-header>
  </ion-card>
</ion-content>