<ion-content class="fondo">
  <div>
    <img src="../../../assets/img/user.svg" width="180px" class="logoPerfil">     
  </div>  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="subt">Nombre Alumno:</ion-card-subtitle>
      <ion-card-title class="title">user:usuario</ion-card-title>
      <ion-card-subtitle class="subt">Carrera:</ion-card-subtitle>
      <ion-card-title class="title">user:carrera</ion-card-title>
      <ion-card-subtitle class="subt">Sede:</ion-card-subtitle>
      <ion-card-title class="title">user:sede</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>