<ion-content class="background">  
    <ion-card class="cardCenter" >
      <img src="../../../assets/img/user.svg" />
      <ion-card-header>
        <ion-card-subtitle color="dark">Información</ion-card-subtitle>
        <ion-card-title>{{usu}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>        
        <ion-card-subtitle class="title">Carrera: </ion-card-subtitle>        
        <h5 class="subt" >{{carrera}}</h5>        
        <ion-card-subtitle class="title">Sede: </ion-card-subtitle>
        <h5 class="subt">{{sede}}</h5> 
        <ion-card-subtitle class="title">Correo: </ion-card-subtitle>
        <h5 class="subt">{{email}}</h5>      
      </ion-card-content>
    </ion-card>

<!-- 
    console.log(this.usu);
    console.log(this.email);
    console.log(this.sede);
    console.log(this.carrera); -->

</ion-content>
