<ion-content class="background ion-padding" [fullscreen]="true">
  <h2 class="ion-text-center contentTitle" #anim>
    <span class="titulo">Asistencia</span>
  </h2>

  
  <ion-slides [options]="slidesConfig" id="container">
    <ion-slide *ngFor="let id of asignaturas; let i = index">
        <ion-card class="card" class="cardCenter">
          <ng-lottie
            class="lottie"
            [options]="options2"
            (animationCreated)="created($event)"
          ></ng-lottie>
          <ion-card-content>
            <ion-card-subtitle class="subt">Asignatura:</ion-card-subtitle>
            <ion-card-subtitle class="textBnt">{{id.name}}</ion-card-subtitle>
            <ion-card-subtitle class="subt">Profesor/a: </ion-card-subtitle>
            <ion-card-subtitle class="textBnt">{{id.nameProfe}}</ion-card-subtitle>
            <ion-card-subtitle class="textBnt2">
              80% (10 de {{ id.totalClass }} clases)
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      <br>
    </ion-slide>
  </ion-slides>
</ion-content>
