.ion-page,
#root,
body,
ion-content.background {
  --background: url(../../../assets/img/fondo2.svg) no-repeat fixed;
}


/* 
@font-face {
  font-family: "Milky Coffee";
  src: url("../../../assets/font/MilkyCoffee.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
} */

.contentTitle {
  margin-top: 50px;
  .titulo {
    font-family: "tahoma";
    font-size: 100px;
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // letter-spacing: -0.014em;
    // -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
}

.cardCenter {
  width: 80%; // adjust width on your ion-card suitable on your screen
  display: block;
  margin: 2 auto;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0);
  
}

.subt {
  margin-bottom: -3px;
  font-family: "tahoma";
  font-size: 30px;
  color: white;
}

.title {
  margin-bottom: 3px;
  font-family: Verdana;
  font-size: 40px;
  color: white;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}


.textBnt {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.textBnt2 {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}




