.titulo{
    font-size: 1rem;
    font-style: oblique;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 0.5rem;
    text-align: center;
}

.subt{
    margin-bottom: -8px;
}

.title{
    margin-bottom: 5px;
}

.lottie{
    width: 100px;
}