<ion-content [fullscreen]="true" class="background">
  <div class="logo" class="ion-text-center">
    <img
      class="svgIgm"
      #logoAnimation
      mat-card-sm-image
      src="../../../assets/img/logo1.png"
    />
  </div>
  <h1 class="titulo"><b>¡Bienvenido!</b></h1>
  <ion-card class="cardFondo">
    <ion-card-content>

      <ion-item lines="none">
        <ion-input
          placeholder="Ingresa tu usuario aquí"
          type="text"
          [(ngModel)]="user.usuario"
        ></ion-input>
      </ion-item>      

      <ion-item lines="none">
        <ion-input
          placeholder="Ingresa tu contraseña aquí"
          type="password"
          [(ngModel)]="user.password"
          minlength="6"
          maxlength="6"
        ></ion-input>
      </ion-item>    

      <ion-row>
        <ion-col>
          <ion-button
            class="buttonLogin"
            (click)="ingresar()"
            expand="full"
            color="dark"
            shape="round"
            >Iniciar Sesión</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="buttonLogin"
            (click)="recuperar()"
            color="dark"
            expand="full"
            shape="round"
            >Recuperar Contraseña</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="buttonLogin"
            (click)="notFound()"
            color="dark"
            expand="full"
            shape="round"
            >404</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- 


 

-->
