 .titleAnimado{
    margin-top: 20px;
}

.mayusculas{
    text-transform: uppercase;
}



.logoDuoc{
  width: 50%;
}

/* ion-header {
  ion-toolbar {
    // set background color
    --background: linear-gradient(to right, #000852 0%, #013291 50%,  #000852  100%);
    // set icon/text color
    --color: var(--ion-color-secondary);
  }
} */