.ion-page,
#root,
body,
ion-content.background {
  --background: url(../../../assets/img/fondo1.svg) no-repeat fixed;
}


ion-card-header{
  border-radius: 10px;

  ion-card-title{
    color: rgb(2, 2, 2);
    font-size: 2.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    
  }  
}

ion-item {
  border-radius: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
}

input {
  background-color: white;
  border: transparent;
}

.buttonLogin{
  color: rgb(255, 255, 255);
  letter-spacing: 0.08rem;
}

.titulo{
  font-size: 2.5rem;
  letter-spacing: 0.09rem;
  color: rgb(255, 255, 255);
}

.titulo2{
  font-size: 1.5rem;
  letter-spacing: 0.09rem;
  color: rgb(255, 255, 255);
}

.img{
  width: 500px;
  height: 500px;
}

.cardFondo {
  background-color: rgba(2, 2, 2, 0);
  margin-bottom: 10px;
}