<ion-header>
  <ion-toolbar>
    <ion-buttons slot="background">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-card class="cardFondo">
    <ion-card-header>
      <h1 class="ion-text-center titulo"><b>¿Has olvidado tu contraseña? no te precupes!</b></h1>
      <small class="ion-text-center"
        >Ingresa tu correo institucional DUOCUC y te enviaremos un link para
        puedas restablecer tu contraseña.</small>
    </ion-card-header>
    <ion-card>
      <ion-item lines="none">
        <ion-input
          placeholder="Ingresa tu Email"
          type="email"
          [(ngModel)]="data.email"
          required
        ></ion-input>
      </ion-item>
      <ion-button class="buttonLogin"  shape="round" (click)="enviar()" color="dark" expand="block">Enviar</ion-button>
    </ion-card>    
  </ion-card>


  <img src="../../../assets/img/logo2.svg" alt="" class="img">  
  
</ion-content>
