.ion-page,
#root,
body,
ion-content.background {
  --background: url(../../../assets/img/fondo1.svg) no-repeat fixed;
}


.form{
  margin-top: 50px;
  ion-item{
    background-color: black;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
  }
}

ion-card-header{
  border-radius: 10px;

  ion-card-title{
    color: rgb(2, 2, 2);
    font-size: 2.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    
  }  
}

.buttonLogin{
  color: rgb(255, 255, 255);
  letter-spacing: 0.08rem;
}

.titulo{
  font-size: 2rem;
  letter-spacing: 0.09rem;
}

.img{
  
  margin-left: 80px;
}